
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    background-image: linear-gradient(rgba(16,20,27,0),rgba(16,20,27,0) 45%,#10141b 90%);
    background-color:rgb(36, 38,51);
}
.peopleCarouselImg img {
    width: auto;
    height: 200px;
    max-height: 200px;
  }
button{
    background-color: #6c19e0;
}

button:hover {
    background-color: #8e54de;
}

.respbutton {
    min-width: 100%;
    text-align: left;
}

.card-transition, .card-transition > img, .card-transition > h3 , .card-transition > h4 > button {
    transition: all .7s;
    transition-timing-function: linear;

}
.card-transition > h4 > button {
    display: none;  /*button hidden*/

}


.card-transition:hover, .card-transition:hover > img, .card-transition:hover > h3 , .card-transition:hover > h4 > button {
    transform: rotateY(180deg);
}

.card-transition:hover > h4 > button {
    display: inline;  /*button hidden*/

}

.charts {
    padding: 1em 2% 1em 2%;
}
